<h1>Bonjour,</h1>

<p>
    Merci de valider votre adresse mail en cliquant sur le lien suivant : <br><br>
    <a href="{{ signedUrl }}">Confirmer mon Email</a>.
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    L'équipe de My E-Business
</p>
