{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
<div class="d-flex justify-content-around mt-3 mb-3">
    <h1 class="text-info">Create new User</h1>
</div>

    {{ include('user/_form.html.twig') }}

    <a class="text-light" href="{{ path('app_user_index') }}"><button class="btn btn-info mt-3">Users list</a></button>
{% endblock %}
