{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}

    <h1 class="text-info mt-3 mb-3 ml-5">Create new User</h1>


    {{ include('user/_form.html.twig') }}

    <a class="text-light" href="{{ path('app_user_index') }}"><button class="btn btn-info mt-3">Users list</a></button>
{% endblock %}
